<html>

<head>
    <title>E-commerce Login</title>
    <link rel="stylesheet" href="./loginstyle.css">
 <script src="../angular.min.js"></script>
 <script src="../dist/controlller/login.controller.js"></script>
 <script src="../dist/app.module.js"></script>

</head>

<body ng-app="myApp">

    <!-- <div ng-controller="MyFirstController as vm"> 
         <h1>TFL Store</h1>
        <ol>
            <li>Roses</li>
            <li>Lotus</li>
            <li>Gerbera</li>
            <li>Lily</li>
        </ol>
        <hr>
        <div>
            <div>
                <ol>
                    <li ng-repeat="user in vm.users">
                        {{user.email}} {{user.password}}
                    </li>
                </ol>
            </div>  

                        <table>
                            <tr>
                                <td><label>Email</label></td>
                                <td>
                                    <input type="text" name="email" id="email" ng-model="user.email" required />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Password</label></td>
                                <td>
                                    <input type="text" name="password" id="password" ng-model="user.password" required />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button ng-click="vm.onValidate()" id="btnLogin">Login</button>
                                </td>
                            </tr>
                        </table>
            <label id="message"></label>

        </div>
    </div> -->
    <div ng-controller="MyFirstController as vm">
        <div class="login-container">
            <h2>Login</h2>
            <form>
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" ng-model="user.email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" ng-model="user.password"  required>
                </div>
                <button ng-click="vm.onValidate()">Login</button>
            </form>
        </div>
    </div>

</body>


</html>